body{
    margin: 0px;
}

.nav-bar{
    background-color: rgb(236, 236, 236);
    display: flex;
}

h2{
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}